* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    background-color: rgb(218, 62, 51);
}

button {
    width: 50px;
    height: 50px;
}

main, body {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    flex-direction: column;
}

h1 {
    text-align: center;
}

#display {
    border: 1px solid black;
}